<div class="container">
  <header>
    <div class="logo">
      <img src="/assets/twitter-113.png" alt="Twitter" routerLink="">
    </div>
  </header>
  <main>
    <div class="register-form">
      <h2>Criar Conta</h2>
      <form>
        <label for="name">Nome:</label>
        <input type="text" id="name" placeholder="Digite seu nome">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Digite seu email">
        <label for="password">Senha:</label>
        <input type="password" id="password" placeholder="Digite sua senha">
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </main>
</div>
